.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--var-color0);
}

.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 15px 0 15px;
}
.contact-methods {
  display: flex;
}

.main-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

